In [3]:
library(plyr)

#lade csv file als data.frame rawData
rawData = read.csv("VP_Infos.csv", header = TRUE, stringsAsFactors = FALSE)
print(rawData)

   Geschlecht Alter Händigkeit Äugigkeit                  Visus
1           w    28     rechts    rechts                 normal
2           w    22      links    rechts                 normal
3           w    21     beides     links                 normal
4           w    55     rechts     beide                 normal
5           w    21     rechts     links                 normal
6           w    21     rechts     links                 normal
7           w    22     rechts     links                 normal
8           w    22     rechts    rechts                 normal
9           w    25      links     links                 normal
10          w    25     beides     beide                 normal
11          w    47     rechts    rechts                 normal
12          w    26     rechts     links                 normal
13          w    26     rechts    rechts                 normal
14          w    43     rechts    rechts                 normal
15          w    23     rechts    rechts                 normal
16          w    22     rechts     links                 normal
17          w    22     rechts    rechts                 normal
18          w    19     rechts     links                 normal
19          w    23     rechts    rechts                 normal
20          w    19      links     links                 normal
21          w    25     rechts     links                 normal
22          w    19     rechts     links                 normal
23          w    22     rechts     links                 normal
24          w    19      links    rechts                 normal
25          w    23     rechts    rechts                 normal
26          w    19     rechts     links                 normal
27          w    23     rechts     links                 normal
28          w    21     rechts     links                 normal
29          w    22     rechts    rechts                 normal
30          w    22     rechts    rechts                 normal
31          m    22     rechts    rechts                 normal
32          m    27      links    rechts                 normal
33          m    23     rechts    rechts                 normal
34          m    19     beides     links                 normal
35          m    22     rechts    rechts                 normal
36          m    21     rechts     links                 normal
37          m    23      links    rechts                 normal
38          m    26     rechts    rechts                 normal
39          m    19     rechts    rechts                 normal
40          m    24     rechts     links                 normal
41          m    23     rechts     links                 normal
42          w    21     rechts    rechts                 normal
43          w    21     rechts     links                 normal
44          w    20     rechts    rechts                 normal
45          w    24     rechts    rechts                 normal
46          m    22     rechts     links Normal, rot-grün-blind
47          w    26     rechts    rechts                 normal
48          m    22     rechts     links                 normal
            Abschluss               Beruf      Finanzen
1    abgesch. Studium             Student       500-999
2              Abitur             Student       500-999
3              Abitur             Student       500-999
4              Abitur             Student 2000 und mehr
5              Abitur             Student         0-499
6              Abitur             Student         0-499
7              Abitur             Student         0-499
8              Abitur             Student       500-999
9              Abitur   nicht berufstätig       500-999
10             Abitur             Student         0-499
11 realschulabschluss            Werkerin     1000-1900
12             Abitur             Student       500-999
13 realschulabschluss        Mechanikerin 2000 und mehr
14 realschulabschluss        Bürokauffrau     1000-1900
15             Abitur             Student         0-499
16   abgesch. Studium             Student       500-999
17             Abitur             Student         0-499
18             Abitur             Student       500-999
19   abgesch. Studium             Student         0-499
20             Abitur             Student         0-499
21             Abitur             Student       500-999
22             Abitur             Student         0-499
23             Abitur             Student         0-499
24             Abitur             Student       500-999
25             Abitur             Student         0-499
26             Abitur             Student       500-999
27             Abitur             Student       500-999
28             Abitur             Student       500-999
29   abgesch. Studium             Student     1000-1900
30             Abitur             Student         0-499
31             Abitur             Student       500-999
32   abgesch. Studium  Softwareentwickler 2000 und mehr
33             Abitur             Optiker     1000-1900
34             Abitur             Student         0-499
35   abgesch. Studium             Student       500-999
36             Abitur             Student     1000-1900
37             Abitur             Student       500-999
38   abgesch. Studium             Student       500-999
39             Abitur             Student       500-999
40             Abitur Fluggerätmechaniker     1000-1900
41             Abitur             Student     1000-1900
42             Abitur             Student       500-999
43             Abitur             Student         0-499
44             Abitur             Student         0-499
45   abgesch. Studium             Student       500-999
46             Abitur             Student       500-999
47 realschulabschluss    Krankenpflegerin 2000 und mehr
48             Abitur             Student       500-999
                       Familienstand
1  verheiratet mit Ehepartner lebend
2                              ledig
3                              ledig
4  verheiratet mit Ehepartner lebend
5                              ledig
6                              ledig
7                              ledig
8                              ledig
9                              ledig
10                             ledig
11                             ledig
12                             ledig
13                             ledig
14                             ledig
15                             ledig
16                             ledig
17                             ledig
18                             ledig
19                             ledig
20                             ledig
21                             ledig
22                             ledig
23                             ledig
24                             ledig
25                             ledig
26                             ledig
27                             ledig
28                             ledig
29                             ledig
30                             ledig
31                             ledig
32                             ledig
33                             ledig
34                             ledig
35                             ledig
36                             ledig
37                             ledig
38                             ledig
39                             ledig
40                             ledig
41                             ledig
42                             ledig
43                             ledig
44                             ledig
45                             ledig
46                             ledig
47                             ledig
48                             ledig

In [4]:
#Anzahl Geschlecht
count(rawData$Geschlecht)

  x freq
1 m 13
2 w 35

In [5]:
#Durchschnitt + Anzahl Alter
mean(rawData$Alter)
sd(rawData$Alter)
count(rawData$Alter)

[1] 24

[1] 6.847891

   x  freq
1  19  7
2  20  1
3  21  7
4  22 12
5  23  7
6  24  2
7  25  3
8  26  4
9  27  1
10 28  1
11 43  1
12 47  1
13 55  1

In [6]:
#Anzahl Händigkeit
count(rawData$Händigkeit)

  x      freq
1 beides  3
2 links   6
3 rechts 39

In [7]:
#Anzahl Äugigkeit
count(rawData$Äugigkeit)

  x      freq
1 beide   2
2 links  22
3 rechts 24

In [8]:
#Anzahl Visus
count(rawData$Visus)

  x                      freq
1 normal                 47
2 Normal, rot-grün-blind  1

In [9]:
#Anzahl Abschluss
count(rawData$Abschluss)

  x                  freq
1 abgesch. Studium    8
2 Abitur             36
3 realschulabschluss  4

In [10]:
#Anzahl Beruf
count(rawData$Beruf)

  x                   freq
1 Bürokauffrau         1
2 Fluggerätmechaniker  1
3 Krankenpflegerin     1
4 Mechanikerin         1
5 nicht berufstätig    1
6 Optiker              1
7 Softwareentwickler   1
8 Student             40
9 Werkerin             1

In [11]:
#Anzahl Finanzen
count(rawData$Finanzen)

  x             freq
1 0-499         15
2 1000-1900      7
3 2000 und mehr  4
4 500-999       22

In [12]:
#Anzahl Familienstand
count(rawData$Familienstand)

  x                                 freq
1 ledig                             46
2 verheiratet mit Ehepartner lebend  2